<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Junior de Barranquilla</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <img src="/media/escudo_deljunior.png" alt="Logo" />
        </div>
        <div class="enlaces">
          <ul>
            <li>
              <a
                href="https://app.juniorfc.co/"
                target="_blank"
                rel="noopener  noreferrer"
                >Ir a la tienda</a
              >
            </li>
            <li><a href="#Historia">Ver tarjetas</a></li>
            <li><a href="#metropolitano">Estadio</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <section id="contenedor-principal">
        <h1>Junior de Barranquilla</h1>

        <div class="menu" id="Historia">
          <div class="card">
            <img src="/media/escudo_deljunior.png" alt="Imagen de la tarjeta"/>
            <div class="card-info">
              <h2>Historia</h2>
              <p>
                La Historia del Atlético Junior de Barranquilla transcurre desde 1924, año en que
                se fundó como club en el barrio Rebolo de Barranquilla (Colombia) por Micaela Lavalle...
              </p>
              <a
                href="https://es.wikipedia.org/wiki/Historia_del_Junior_de_Barranquilla#:~:text=La%20Historia%20del%20Atl%C3%A9tico%20Junior,9%20campeonatos%20colombianos%2C%202%20Copas"
                target="_blank" rel="noopener noreferrer" >Ver Historia</a>
            </div>
          </div>

          <div class="card">
            <img
              src="/media/Hinchada.jpeg" alt="Imagen de la tarjeta"/>
            <div class="card-info">
              <h2>Hinchada</h2>
              <p>
                Hinchas de junior de Barranquilla
              </p>
              <a
                href="https://www.elheraldo.co/hinchas-de-junior"
                target="_blank" rel="noopener noreferrer" >Ver informacion</a >
            </div>
          </div>

          <div class="card">
            <img
              src="/media/barras.jpeg"
              alt="Imagen de la tarjeta"/>
            <div class="card-info">
              <h2>Barras del Junior</h2>
              <p>
                Sopa de hueso de cerdo con tiras de cerdo, cebolla y bok choy
              </p>
              <a
                href="https://barrabrava.net/club/junior-de-barranquilla/"
                target="_blank"
                rel="noopener noreferrer" >Ver informacion</a>
            </div>
          </div>

          <div class="card">
            <img
              src="/media/las_tiburonas.jpeg"
              alt="Imagen de la tarjeta"/>
            <div class="card-info">
              <h2>Las tiburonas</h2>
              <p>
                Junior de Barranquilla Femenil
              </p>
              <a
                href="https://app.juniorfc.co/las-tiburonas-debutaron-con-victoria-2-0-sobre-real-san-andres-7850"
                target="_blank"
                rel="noopener noreferrer">Ver informacion</a>
            </div>
          </div>

          <div class="card">
            <img
              src="/media/micaela_lavalle.jpeg"
              alt="Imagen de la tarjeta" />
            <div class="card-info">
              <h2>Micaela Lavalle</h2>
              <p>
                Micaela lavalle es 
              </p>
              <a
                href="https://futbolete.com/juniortupapa/micaela-la-madre-que-fundo-el-junior-de-barranquilla/796999/"
                target="_blank"
                rel="noopener noreferrer">Ver informacion</a >
            </div>
          </div>

          <div class="card">
            <img
              src="/media/plantel.jpeg"
              alt="Imagen de la tarjeta"
            />
            <div class="card-info">
              <h2>Jugadores</h2>
              <p>Nómina del Junior de Barranquilla</p>
              <a
                href="https://www.shoothecook.es/ramen-vegano-de-tofu-y-verduras/"
                target="_blank"
                rel="noopener noreferrer"
                >Ver informacion</a
              >
            </div>
          </div>
        </div>
      </section>
      <section id="contenedor-estadio">
        <h2 id="metropolitano">Estadio</h2>
        <div class="div-estadio">
            <a href="https://www.futbolred.com/curiosidades-de-futbol/estadio-metropolitano-de-barranquilla-ranking-de-los-mejores-estadios-para-jugar-futbol-en-el-mundo-117175" target="_blank">
            <img id="estadio" src="/media/metropolitano.jpg" alt="estadio"></a>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer-container">
        
        <hr>
        <div class="footer-row">
          <div class="footer-col">
            <p>&copy; Junior de Barranquilla 2023 Todos los derechos reservados.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
